  main {
    position: absolute;
    left: 0;
    right: 0;
    top: 20vh;
    bottom: 20vh;
    background: #20252B;
}


.mainButtonSection {
    width: 100%;
    height: 20vh;
    background-color: #fd0000d7;
    float: right;
}
