footer {
    position: absolute;
    left: 0;
    right: 0;
    top: 90vh;
    bottom: 0;
    padding: 1vmin;
    text-align: center;
    background: #20252B;
}

footer h3 {
    font-size: 2vmin;
    position: relative;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    cursor: default;
}