@media (orientation: landscape) {
    header {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 80%;
        background-color: #20252B;
    }

    header .logo {
        position: relative;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        max-width: 90%;
        max-height: 90%;
        margin: 0 auto;
    }

}

@media (orientation: portrait) {
    header {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 80%;
        background-color: #20252B;
    }

    header .logo {
        position: relative;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        max-width: 90%;
        max-height: 90%;
        margin: 0 auto;
    }
}