@media (orientation: landscape) {
    main {
        position: absolute;
        left: 0;
        right: 0;
        top: 20vh;
        bottom: 10vh;
        padding: 1vmin;
        background: #20252B;
    }

    main article h1 {
        font-size: 7vmin;
    }

    main article h2 {
        font-size: 5vmin;
    }


    main article p {
        font-size: 3vmin;
    }

    main article ul li {
        font-size: 2vmin;
    }

    main article iframe {
        opacity: 0.5;
        filter: alpha(opacity=50);
    }

    main nav button .icon {
        width: 8vmin;
        height: 8vmin;
        background-position: center;
        background-size: 80%;
        margin: 0;
        padding: 0;
        background-repeat: no-repeat;
        background-image: url("../svg/icon.svg");
        float: left;
    }

    main article .additionalButton .title {
        float: left;
        color: #20252B;
        width: auto;
    }

    main nav #przycisk_o_firmie {
        background: url("pojazd1.svg") no-repeat;
    }

    main nav #przycisk_o_firmie:hover {
        background: url("pojazd1.svg") no-repeat;
    }

    main nav #offerButton {
        background: url("pojazd2.svg") no-repeat;
    }

    main nav #offerButton:hover {
        background: url("pojazd2.svg") no-repeat;
    }

    main nav #przycisk_cennik {
        background: url("pojazd3.svg") no-repeat;
    }

    main nav #przycisk_cennik:hover {
        background: url("pojazd3.svg") no-repeat;
    }

    main nav #przycisk_kontakt {
        background: url("pojazd4.svg") no-repeat;
    }

    main nav #przycisk_kontakt:hover {
        background: url("pojazd4.svg") no-repeat;
    }

    main nav #przycisk_dojazd {
        background: url("pojazd5.svg") no-repeat;
    }

    main nav #przycisk_dojazd:hover {
        background: url("pojazd5.svg") no-repeat;
    }

    main nav #przycisk_wspolpraca {
        background: url("pojazd6.svg") no-repeat;
    }

    main nav #przycisk_wspolpraca:hover {
        background: url("pojazd6.svg") no-repeat;
    }

    main nav .mainButton:hover {
        background-size: 10vmin;
        background-color: #913eaa;
        background-position: 95%;
        border: none;
        text-align: center;
        text-decoration: none;
        margin-bottom: 1vmin;
        padding-left: 2vmin;
        padding-right: 2vmin;
        padding-top: 1vmin;
        padding-bottom: 1vmin;
        width: 49vmin;
        height: 10vh;
        font-size: 5vmin;
        color: #20252B;
        cursor: default;
    }

    main nav .mainButton {
        background-color: #F7CA00;
        background-size: 10vmin;
        background-position: 95%;
        display: block;
        border: none;
        text-align: center;
        text-decoration: none;
        margin-bottom: 1vmin;
        width: 49vmin;
        height: 10vh;
        padding-left: 1vmin;
        padding-right: 2vmin;
        padding-top: 1vmin;
        padding-bottom: 1vmin;
        font-size: 5vmin;
        color: #20252B;
        cursor: default;
    }

    main #o_firmie {
        display: block;
        background: url("pojazd1_tlo.svg");
        background-position: center;
        background-size: 50%;
        background-repeat: no-repeat;
        text-align: justify;
    }

    main #oferta {
        display: none;
        background: url("pojazd2_tlo.svg");
        background-position: center;
        background-size: 50%;
        background-repeat: no-repeat;
        text-align: justify;
    }

    main #cennik {
        display: none;
        background: url("pojazd3_tlo.svg");
        background-position: center;
        background-size: 50%;
        background-repeat: no-repeat;
        text-align: justify;
    }

    main #kontakt {
        display: none;
        background: url("pojazd4_tlo.svg");
        background-position: center;
        background-size: 50%;
        background-repeat: no-repeat;
        text-align: justify;
    }

    main #dojazd {
        display: none;
        background: url("pojazd5_tlo.svg");
        background-position: center;
        background-size: 50%;
        background-repeat: no-repeat;
        text-align: justify;
    }

    main #wspolpraca {
        display: none;
        background: url("pojazd6_tlo.svg");
        background-position: center;
        background-size: 50%;
        background-repeat: no-repeat;
        text-align: justify;
    }

    .additionalButton {
        display: none;
        color: #20252B;
    }

    main nav {
        position: absolute;
        left: 0;
        max-width: 50vmin;
        top: 0;
        bottom: 0;
        padding: 0vmin;
        padding-top: 2vmin;
        padding-left: 2vmin;
        padding-right: 1vmin;
        background: #20252B;
        overflow: auto;
    }

    main article {
        position: absolute;
        left: 50vmin;
        right: 0vmin;
        top: 0vmin;
        bottom: 0vmin;
        padding: 0vmin;
        padding-top: 2vmin;
        padding-right: 1vmin;
        padding-left: 2vmin;
        margin-top: 2vmin;
        overflow: auto;
        color: #F7CA00;
        background: #20252B;
        cursor: default;
    }
}

@media (orientation: portrait) {

    main {
        position: absolute;
        left: 0;
        right: 0;
        top: 20vh;
        bottom: 10vh;
        padding: 1vmin;
        background: #20252B;
    }

    main article h1 {
        font-size: 7vmin;
    }

    main article h2 {
        font-size: 5vmin;
    }

    main article p {
        font-size: 3vmin;
    }

    main article ul li {
        font-size: 2vmin;
    }

    main article iframe {
        opacity: 0.5;
        filter: alpha(opacity=50);
    }

    main article button .title {
        float: left;
        color: #20252B;
        width: auto;
    }

    main nav .mainButton {
        background-size: 10vmin;
        background-color: #F7CA00;
        background-position: 95%;
        border: none;
        text-align: center;
        text-decoration: none;
        margin-bottom: 1.5vmin;
        padding-left: 1vmin;
        padding-right: 2vmin;
        padding-top: 1vmin;
        padding-bottom: 1vmin;
        width: 100%;
        height: 9.2vh;
        font-size: 5vmin;
        color: #20252B;
        cursor: default;
    }

    main nav .mainButton:hover {
        background-color: #913eaa;
        background-size: 10vmin;
        background-position: 95%;
        border: none;
        text-align: center;
        text-decoration: none;
        margin-bottom: 1.5vmin;
        padding-left: 2vmin;
        padding-right: 2vmin;
        padding-top: 1vmin;
        padding-bottom: 1vmin;
        width: 100%;
        height: 9.2vh;
        font-size: 5vmin;
        color: #20252B;
        cursor: default;
    }

    main nav .mainButton .icon {
        width: 8vmin;
        height: 8vmin;
        background-position: center;
        background-size: 80%;
        margin: 0;
        padding: 0;
        background-repeat: no-repeat;
        background-image: url("../svg/icon.svg");
        float: left;
    }

    main nav .mainButton .title {
        float: left;
        color: #20252B;
        width: auto;
    }

    main nav .mainButton #offerButton {
        background: url("../svg/pojazd2.svg") no-repeat;
    }

    main nav .mainButton #offerButton:hover {
        background: url("../svg/pojazd2.svg") no-repeat;

    }

    main nav .mainButton #przycisk_cennik {
        background: url("../svg/pojazd3.svg") no-repeat;
    }

    main nav .mainButton #przycisk_cennik:hover {
        background: url("../svg/pojazd3.svg") no-repeat;
    }

    main nav .mainButton #przycisk_dojazd {
        background: url("../svg/pojazd5.svg") no-repeat;
    }

    main nav .mainButton #przycisk_dojazd:hover {
        background: url("../svg/pojazd5.svg") no-repeat;
    }

    main nav .additionalButton #przycisk_o_firmie {
        background: url("../svg/pojazd1.svg") no-repeat;
    }

    main nav .additionalButton #przycisk_o_firmie:hover {
        background: url("../svg/pojazd1.svg") no-repeat;
    }

    main nav .additionalButton #przycisk_kontakt {
        background: url("../svg/pojazd4.svg") no-repeat;
    }

    main nav .additionalButton #przycisk_kontakt:hover {
        background: url("../svg/pojazd4.svg") no-repeat;
    }

    main nav .additionalButton #przycisk_wspolpraca {
        background: url("../svg/pojazd6.svg") no-repeat;
    }

    main nav .additionalButton #przycisk_wspolpraca:hover {
        background: url("../svg/pojazd6.svg") no-repeat;

    }

    main nav .additionalButton {

        background-size: 10vmin;
        background-color: #F7CA00;
        background-position: 95%;
        border: none;
        text-align: center;
        text-decoration: none;
        margin-bottom: 1.5vmin;
        padding-left: 1vmin;
        padding-right: 2vmin;
        padding-top: 1vmin;
        padding-bottom: 1vmin;
        width: 33%;
        height: 5.2vh;
        font-size: 3vmin;
        color: #20252B;
        cursor: default;
    }

    main nav .additionalButton:hover {
        background-color: #913eaa;
        background-size: 10vmin;
        background-position: 95%;
        border: none;
        text-align: center;
        text-decoration: none;
        margin-bottom: 1.5vmin;
        padding-left: 2vmin;
        padding-right: 2vmin;
        padding-top: 1vmin;
        padding-bottom: 1vmin;
        width: 100%;
        height: 9.2vh;
        font-size: 5vmin;
        color: #20252B;
        cursor: default;
    }

    main article .additionalButton {
        display: block;
        background: url("../svg/strzalka.svg") no-repeat;
        background-size: 10vmin;
        background-color: #F7CA00;
        background-position: 95%;
        border: none;
        text-align: center;
        text-decoration: none;
        margin-bottom: 1.5vmin;
        padding-left: 1vmin;
        padding-right: 2vmin;
        padding-top: 1vmin;
        padding-bottom: 1vmin;
        width: 100%;
        height: 9.2vh;
        font-size: 5vmin;
        color: #20252B;
        cursor: default;
    }

    main nav .additionalButton .icon {
        background-position: center;
        background-size: 80%;
        margin: 0;
        padding: 0;
        background-repeat: no-repeat;
        background-image: url("../svg/icon.svg");
        position: relative;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        max-width: 40%;
        max-height: 40%;
        margin: 0 auto;
    }

    main nav .additionalButton .title {
        float: left;
        color: #20252B;
        width: auto;
    }

    main article .menuButton {
        display: block;
        background: url("../svg/strzalka.svg") no-repeat;
        background-size: 10vmin;
        background-color: #F7CA00;
        background-position: 95%;
        border: none;
        text-align: center;
        text-decoration: none;
        margin-bottom: 1.5vmin;
        padding-left: 2vmin;
        padding-right: 2vmin;
        padding-top: 1vmin;
        padding-bottom: 1vmin;
        width: 100%;
        height: 9.2vh;
        font-size: 5vmin;
        color: #20252B;
        cursor: default;
    }

    main article .menuButton:hover {
        display: block;
        background: url("../svg/strzalka.svg") no-repeat;
        background-size: 10vmin;
        background-color: #913eaa;
        background-position: 95%;
        border: none;
        text-align: center;
        text-decoration: none;
        margin-bottom: 1.5vmin;
        padding-left: 2vmin;
        padding-right: 2vmin;
        padding-top: 1vmin;
        padding-bottom: 1vmin;
        width: 100%;
        height: 9.2vh;
        font-size: 5vmin;
        color: #20252B;
        cursor: default;
    }




    main #o_firmie {
        display: none;
        background: url("../svg/pojazd1_tlo.svg");
        background-position: center;
        background-size: 50%;
        background-repeat: no-repeat;
        text-align: justify;
    }

    main #oferta {
        display: none;
        background: url("../svg/pojazd2_tlo.svg");
        background-position: center;
        background-size: 50%;
        background-repeat: no-repeat;
        text-align: justify;
    }

    main #cennik {
        display: none;
        background: url("../svg/pojazd3_tlo.svg");
        background-position: center;
        background-size: 50%;
        background-repeat: no-repeat;
        text-align: justify;
    }

    main #kontakt {
        display: none;
        background: url("../svg/pojazd4_tlo.svg");
        background-position: center;
        background-size: 50%;
        background-repeat: no-repeat;
        text-align: justify;
    }

    main #dojazd {
        display: none;
        background: url("../svg/pojazd5_tlo.svg");
        background-position: center;
        background-size: 50%;
        background-repeat: no-repeat;
        text-align: justify;
    }

    main #wspolpraca {
        display: none;
        background: url("../svg/pojazd6_tlo.svg");
        background-position: center;
        background-size: 50%;
        background-repeat: no-repeat;
        text-align: justify;
    }

    main nav {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0;
        padding: 2vmin;
        width: 96vmin;
        float: left;
        overflow: auto;
        background: #20252B;
        overflow: auto;
    }

    main article {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 96vmin;
        padding: 2vmin;
        margin-top: 2vmin;
        float: left;
        overflow: auto;
        background: #20252B;
        cursor: default;
    }

}