@media (orientation: landscape) {

    .mainNavButton {
        background-size: 10vmin;
        background-color: #F7CA00;
        background-position: 95%;
        border: none;
        text-align: center;
        text-decoration: none;
        margin-bottom: 1.5vmin;
        padding-left: 1vmin;
        padding-right: 2vmin;
        padding-top: 1vmin;
        padding-bottom: 1vmin;
        width: 100%;
        height: 9.2vh;
        font-size: 5vmin;
        color: #20252B;
        cursor: default;

    }

    .mainNavButton img {
        float: left;
        height: 80%;
    }

    .mainNavButtonIcon {
        width: 8vmin;
        height: 8vmin;
        background-position: center;
        background-size: 80%;
        margin: 0;
        padding: 0;
        background-repeat: no-repeat;
        background-image: url("iconButton.svg");
        float: left;
    }

    .mainNavButtonTitle {
        float: left;
        color: #20252B;
        width: auto;
    }


    .mainNavButton:hover {
        background-color: #913eaa;
    }
}