@media (orientation: landscape) {
    footer {
        position: absolute;
        left: 0%;
        right: 60%;
        top: 90%;
        bottom: 0%;
        background-color: aquamarine;
    }
}

@media (orientation: portrait) {
    footer {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 90%;
        bottom: 0%;
        background-color: aquamarine;
    }
}