@media (orientation: landscape) {
    main {
        position: absolute;
        left: 40%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        background-color: burlywood;
    }
}

@media (orientation: portrait) {
    main {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 50%;
        bottom: 10%;
        background-color: burlywood;
    }
}