@media (orientation: landscape) {
    .footerNav {
        position: absolute;
        left: 0%;
        right: 60%;
        top: 20%;
        bottom: 10%;
        background-color: antiquewhite;
    }

    .mainNavButton:nth-child(1) {
        background-color: #F7CA00;
        border: none;
        text-align: center;
        text-decoration: none;
        margin-top: 1%;
        width: 100%;
        height: 32%;
        font-size: 10vh;
        color: #20252B;
        cursor: default;

    }

    .mainNavButton:nth-child(2) {
        background-color: #F7CA00;
        border: none;
        text-align: center;
        text-decoration: none;
        margin-top: 1%;
        margin-bottom: 1%;
        width: 100%;
        height: 32%;
        font-size: 10vh;
        color: #20252B;
        cursor: default;

    }

    .mainNavButton:nth-child(3) {
        background-color: #F7CA00;
        border: none;
        text-align: center;
        text-decoration: none;
        margin-bottom: 1%;
        width: 100%;
        height: 32%;
        font-size: 10vh;
        color: #20252B;
        cursor: default;

    }

    .mainNavButton img {
        float: left;
        height: 80%;
    }

    .mainNavButtonIcon {
        width: 8vmin;
        height: 8vmin;
        background-position: center;
        background-size: 80%;
        margin: 0;
        padding: 0;
        background-repeat: no-repeat;
        background-image: url("iconButton.svg");
        float: left;
    }

    .mainNavButtonTitle {
        float: left;
        color: #20252B;
        width: auto;
    }


    .mainNavButton:hover {
        background-color: #913eaa;
    }

}

@media (orientation: portrait) {
    .mainNav {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 20%;
        bottom: 40%;
        background-color: antiquewhite;
    }
}